@import (reference) "~@blueprintjs/core/lib/less/variables.less";

.action-panel {
  width: 25vw;
  min-width: 350px;
  max-width: 450px;
  padding: 10px;
  margin-left: 15px;
  border-radius: 10px;
  background-color: @white;
  display: flex;
  flex-direction: column;
  box-shadow: @pt-elevation-shadow-3;
  z-index: 1;
}

.action-panel-header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
