@import (reference) "../../../node_modules/@blueprintjs/core/dist/variables.less";

.action-panel {
  height: 100%;
  width: 30vw;
  min-width: 400px;
  max-width: 600px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  background-color: @white;
}

.location-panel {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.location-content-wrapper {
  flex-grow: 1;
  overflow-y: auto;

  padding: 40px 20px 0 20px;

  .location-name {
    font-weight: 800;
  }

  input.location-name {
    font-size: 40px;
    line-height: 0.8em;
    padding: 5px 10px;
    height: auto;
  }

  // .location-address {

  // }

  // .location-notes {

  // }
}

.panel-edit-controls {
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  align-content: flex-end;
  width: 100%;
  padding: 10px 20px;
  box-shadow: 0 -1px 1px rgba(16, 22, 26, 0.2);
  z-index: 19;
}
