@import (reference) "~@blueprintjs/core/lib/less/variables.less";

.user-display {
  padding: 2px;
  background: @white;
  color: @pt-icon-color;
  box-shadow: @pt-elevation-shadow-3;
  border-radius: 16px;
  cursor: pointer;
}
