@import (reference) "~@blueprintjs/core/lib/less/variables.less";

.sidebar-filter-controls {
  border-bottom: solid 1px @gray5;
  padding: 10px;
  flex-shrink: 0;
}

.filter-control-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;

  &:last-of-type {
    margin-bottom: 0;
  }

  input, .tag-select {
    flex: 1;
    margin-left: 10px;
  }
}

.filter-control-icon {
  color: @pt-icon-color;
}
