@import (reference) "~@blueprintjs/core/lib/less/variables.less";

.sidebar-filter-controls {
  border-bottom: solid 1px @gray5;
  padding: 10px;
  flex-shrink: 0;
}

.filter-control-group {
  display: flex;
  align-items: flex-start;

  &:not(:last-of-type) {
    margin-bottom: 8px;
    padding-bottom: 8px;
    border-bottom: solid 1px @gray5;
  }

  input, .tag-select {
    flex: 1;
  }

  .filter-control-bounds-checkbox {
    margin-bottom: 0;
    margin-left: 15px;
  }
}

.filter-control-sub-group {
  display: flex;
  align-items: center;
  &:not(:last-of-type) {
    margin-bottom: 8px;
  }
}

.filter-control-icon {
  color: @pt-icon-color;
  margin-right: 10px;
  margin-top: 7px;
}
