@import (reference) "~@blueprintjs/core/lib/less/variables.less";

.location-item {
  padding: 10px;
  border-bottom: solid 1px @pt-divider-black;

  &:hover {
    background-color: @light-gray5;
    cursor: pointer;
  }

  .location-rating-and-price:not(:last-child) {
    margin-bottom: 5px;
  }
}

.location-row-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;

  .location-name {
    flex: 1;
  }
}
