@import (reference) "../../../node_modules/@blueprintjs/core/dist/variables.less";

.location-sidebar {
  height: 100%;
  width: 20vw;
  min-width: 250px;
  max-width: 350px;
  padding: 20px;
  border-radius: 10px;
  background-color: @white;
  display: flex;
  flex-direction: column;
}

.location-items-wrapper {
  flex-grow: 1;
  overflow-y: auto;
}

.location-item {
  flex: 1;
  padding-top: 20px;
  padding-bottom: 5px;
  border-bottom: solid 1px @pt-divider-black;

  &:hover {
    background-color: @light-gray5;
  }
}

.sidebar-filter-controls {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: solid 1px @gray5;
  padding-bottom: 20px;
  flex-shrink: 0;

  .search-term-input[type="search"] {
    background: none;
    border-radius: 0;
    border-bottom: solid 1px @gray5;
    box-shadow: none;
  }

  .tag-select {
    margin-top: 15px;
    margin-left: 12px;
  }
}

.sidebar-edit-controls {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: solid 1px @gray5;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  align-content: flex-end;
  width: 100%;
  padding-top: 10px;
}
