@import (reference) "~@blueprintjs/core/dist/variables.less";

.location-item {
  padding-top: 20px;
  padding-bottom: 5px;
  border-bottom: solid 1px @pt-divider-black;

  &:hover {
    background-color: @light-gray5;
  }
}

.location-row-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;

  .location-name {
    flex: 1;
  }

  .location-rating {
    margin-left: 5px;
  }
}
