@import "./blueprint-react-select.css";
@import "~@blueprintjs/core/dist/blueprint.css";
@import (reference) "~@blueprintjs/core/dist/variables.less";

body {
  background-color: @pt-app-background-color;
  margin: 0;
}

.app-viewport {
  width: 100%;
  height: 100%;
}

.floater-viewport {
  background: none;
  position: absolute;
  top: 0;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: row;
}
