@import "~@blueprintjs/core/lib/css/blueprint.css";
@import (reference) "~@blueprintjs/core/lib/less/variables.less";

body {
  background-color: @pt-app-background-color;
  margin: 0;
}

.app-viewport {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px;
}

.user-viewport {
  background: none;
  display: flex;
  align-items: center;
  z-index: 1;
  margin-left: auto;
}
