#map {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  z-index: 0;
}

@media (max-width: 768px) {
  #map {
    position: relative;
    height: 50vh;
    width: 100%;
    order: 0;
  }
}
